body {
    background-image: url('fondoazul.png');
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    background-color:black;
    color: aliceblue;
    text-align: center;
    margin: 0 auto;
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-bottom: 15rem;
}



.cuadro {
    margin-top: 8rem;
    background-color:black;
    color: aliceblue;
    text-align: center;

    border-radius: 2rem;
    padding: 1rem;
    margin-left: 30rem;
    margin-right: 30rem;
}

input[type="submit"] {
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}

input[type="text"]{
    border-radius: 1rem;
    padding: 0.5rem;
    font-family: "Sofadi One", system-ui;
    font-weight: 700;
    font-style: normal;

}
input[type="password"]{
    border-radius: 1rem;
    padding: 0.5rem;
    font-family: "Sofadi One", system-ui;
    font-weight: 700;
    font-style: normal;

}

.pareja {
    margin-top: 2rem;
    background-color:black;
    color: aliceblue;
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 30rem;
    margin-right: 30rem;
}

.boton {
    text-decoration: none;
    color:aliceblue;
}
.pareja:hover {
    background-color: aliceblue;
    color: black;
}

.boton:hover {
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;

  }



  input[type="submit"]{
    border-radius: 1rem;
    padding: 0.5rem;
    font-family: "Sofadi One", system-ui;
    font-weight: 700;
    font-style: normal;

}


.resultado {
background-color: rgb(0, 0, 0);
color: aliceblue;
border-radius: 2rem;
margin-left: 30rem;
margin-right: 30rem;
text-align: center;
padding: 2rem;
}

.cala {
    background-color: rgb(0, 0, 0);
color: aliceblue;
border-radius: 2rem;
margin-left: 30rem;
margin-right: 30rem;
text-align: center;
padding: 2rem;
margin-bottom: 5rem;
}

.calc {
    border-radius: 1rem;
    padding: 0.5rem;
    font-family: "Sofadi One", system-ui;
    font-weight: 700;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    color: black;
    border-color: rgb(255, 255, 255);
    margin: 0 0.5rem;
    
}

.elg {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 2rem;
    padding: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.play {
    margin-top: 1rem;
    padding: 3rem;
}